# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.venv
*.xlsx
*.csv
*.pdf
*.ipynb
/BASE_DADOS/
/energisa-fidc-calculator-3dea91b96361e9417f75fa1974b8f5575d4675d3/
/energisa-fidc-calculator-2281bd064982753fad82a1835f398d8eba35bfde/
*teste*
*test*
*RESUMO*
__pycache__
